<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Portfolio page</title>
</head>

<body>
    {{>header}}
    <div>My portfolio page</div>
    <div>{{screamIt welcome}}</div>
    {{>footer}}
</body>

</html>